*.pyc
*.so
*.test
*.out
*.log

# ignore IDE files
.idea/*
.vscode

# ignore executables (extensionless files)
/cmd/**/*
!/cmd/**/
!/cmd/**/*.*
/examples/**/*
!/examples/**/
!/examples/**/*.*

# top level dirs
/vpp/
/vendor/
/.build/
/report/